<!-- https://libvirt.org/formatdomain.html -->
<domain type='kvm'>
  <name>{{ hostvars[layer2_item].inventory_hostname }}</name>
  <uuid>{{ hostvars[layer2_item].inventory_hostname | to_uuid }}</uuid>

  <memory unit='MiB'>{{ hostvars[layer2_item].flavor.ram | default('4096') }}</memory>
  <currentMemory unit='MiB'>{{ hostvars[layer2_item].flavor.ram | default('4096') }}</currentMemory>
  <vcpu placement='static'>{{ hostvars[layer2_item].flavor.cpu | default('2') }}</vcpu>

  <os>
    <type arch='x86_64' machine='pc-i440fx-2.9'>hvm</type>
{% if not (layer2_item|regex_replace('^kvm-') in groups['baremetal']) %}    <boot dev='hd'/>{% endif %}
    <!--<boot dev='network'/>-->
    <bootmenu enable='yes' timeout='3000'/>
  </os>

  <features>
    <acpi/>
    <apic/>
  </features>

  <cpu mode='host-model'>
    <model fallback='allow'/>
  </cpu>

  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>

  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>

  <pm>
    <suspend-to-mem enabled='yes'/>
    <suspend-to-disk enabled='yes'/>
  </pm>

  <devices>

    <emulator>/usr/bin/qemu-kvm</emulator>

    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='unsafe'/>
      <source file='/home/{{ kvm_user }}/images/{{ hostvars[layer2_item].inventory_hostname }}-vda.qcow2'/>
      <target dev='vda' bus='virtio'/>
{% if ((root_device == "vda") and (layer2_item|regex_replace('^kvm-') in groups['baremetal'])) %}      <boot order='2'/>
{% endif %}
      <address type='pci' domain='0x0000' bus='0x00' slot='0x07' function='0x0'/>
    </disk>
{% for disk in hostvars[layer2_item].flavor.disk[1:]+[hostvars[layer2_item].flavor.swap] %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2' cache='unsafe'/>
      <source file='/home/{{ kvm_user }}/images/{{ hostvars[layer2_item].inventory_hostname }}-vd{{ drive[loop.index] }}.qcow2'/>
      <target dev='vd{{ drive[loop.index] }}' bus='virtio'/>
{% if (("vd" ~ drive[loop.index]) == root_device) and (layer2_item|regex_replace('^kvm-') in groups['baremetal']) %}      <boot order='2'/>
{% endif %}
    </disk>
{% endfor %}

    <!--<disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='/persist/var/lib/libvirt/images/cvp-disk2.qcow2'/>
      <target dev='hdb' bus='ide'/>
      <alias name='ide0-0-1'/>
      <address type='drive' controller='0' bus='0' target='0' unit='1'/>
    </disk>-->
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <target dev='hda' bus='ide'/>
      <readonly/>
      <address type='drive' controller='0' bus='0' target='0' unit='0'/>
    </disk>

    <controller type='usb' index='0' model='ich9-ehci1'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x7'/>
    </controller>   
    <controller type='usb' index='0' model='ich9-uhci1'>
      <master startport='0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0' multifunction='on'/>
    </controller>   
    <controller type='usb' index='0' model='ich9-uhci2'>
      <master startport='2'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x1'/>
    </controller>   
    <controller type='usb' index='0' model='ich9-uhci3'>
      <master startport='4'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x2'/>
    </controller>   
    <controller type='ide' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x1'/>
    </controller>   
    <controller type='virtio-serial' index='0'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x06' function='0x0'/>
    </controller>   
    <controller type='pci' index='0' model='pci-root'/>

{% for dev in devices|sort %}{%if devices[dev].type == "nic" %}
    <interface type='bridge'>
      <source bridge='{{ bridge }}' />
      <model type='virtio'/>
      <alias name='{{ devices[dev].name }}'/>
      {% if (loop.index == 1) and (layer2_item|regex_replace('^kvm-') in groups['baremetal']) %}<boot order='1'/>{% endif %}
    </interface>
{% endif %}{% endfor %}

    <serial type='pty'>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
    <channel type='unix'>
      <target type='virtio' name='org.qemu.guest_agent.0'/>
      <address type='virtio-serial' controller='0' bus='0' port='1'/>
    </channel>
    <channel type='spicevmc'>
      <target type='virtio' name='com.redhat.spice.0'/>
      <address type='virtio-serial' controller='0' bus='0' port='2'/>
    </channel>
    <input type='tablet' bus='usb'>
      <address type='usb' bus='0' port='1'/>
    </input>
    <input type='mouse' bus='ps2'/>
    <input type='keyboard' bus='ps2'/>

    <graphics type='spice' autoport='yes'>
      <listen type='address'/>
      <image compression='off'/>
    </graphics>

    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='1' primary='yes'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>

    <redirdev bus='usb' type='spicevmc'>
      <address type='usb' bus='0' port='2'/>
    </redirdev>
    <redirdev bus='usb' type='spicevmc'>
      <address type='usb' bus='0' port='3'/>
    </redirdev>
    <memballoon model='virtio'>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x08' function='0x0'/>
    </memballoon>   
    <rng model='virtio'>
      <backend model='random'>/dev/urandom</backend>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x09' function='0x0'/>
    </rng>

    <!--<graphics type='vnc' port='5900' autoport='yes' listen='127.0.0.1'>
      <listen type='address' address='127.0.0.1'/>
    </graphics>-->

  </devices>
</domain>

