[DEFAULT]
local_ip = {{ director.prov_cidr }}
masquerade_network = {{ director.prov_cidr }}
undercloud_public_host = {{ (( director.prov_cidr.split('/')[0] | ipaddr('int')) + 1) | ipaddr }}
undercloud_admin_host = {{ (( director.prov_cidr.split('/')[0] | ipaddr('int')) + 2) | ipaddr }}
local_interface = {{ director.prov_nic }}
#clean_nodes = false
container_images_file = /home/stack/undercloud-templates/containers-prepare-parameter.yaml
custom_env_files = /home/stack/undercloud-templates/ntp.yaml
docker_insecure_registries = docker-registry.engineering.redhat.com

[ctlplane-subnet]
local_subnet = ctlplane-subnet
cidr = {{ provnet_cidr }}
dhcp_start = {{ prov_dhcp_start }}
dhcp_end = {{ prov_dhcp_end }}
inspection_iprange = {{ prov_introspect_start }},{{ prov_introspect_end }}
gateway = {{ provnet_gw }}
masquerade = true

[auth]
