[DEFAULT]
undercloud_hostname = {{ inventory_hostname | lower }}.{{ dnsdomain }}
overcloud_dnsdomain_name = {{ dnsdomain }}
overcloud_domain_name = {{ dnsdomain }}
image_path = /home/{{ stack_user }}/images
local_ip = {{ director.prov_cidr }}
undercloud_public_host = {{ (( director.prov_cidr.split('/')[0] | ipaddr('int')) + 1) | ipaddr }}
undercloud_admin_host = {{ (( director.prov_cidr.split('/')[0] | ipaddr('int')) + 2) | ipaddr }}
undercloud_nameservers = {{ [provnet_dns1,provnet_dns2] | list | join (',') }}
undercloud_ntp_servers = {{ provnet_ntp1 }},{{ provnet_ntp2 }}
generate_service_certificate = true
#undercloud_service_certificate = /etc/pki/instack-certs/undercloud.pem
certificate_generation_ca = local
local_interface = {{ director.prov_nic }}
local_mtu = 1500
subnets = ctlplane-subnet,leaf1,leaf2
local_subnet = ctlplane-subnet
undercloud_debug = true
enable_telemetry = true
enable_tempest = true
enable_mistral = true
enable_zaqar = true
enable_ui = true
enable_validations = true
ipxe_enabled = true
store_events = true
#scheduler_max_attempts = true
#hieradata_overwrite = 
#net_config_override = /usr/share/instack-undercloud/templates/net-config.json.template
#clean_nodes = false
#inspection_enable_uefi = true
enabled_hardware_types = ipmi,redfish,ilo,idrac
enable_routed_networks = true

# if this is not named ctlplane-subnet, then the params ControlPlaneSubnet and <role>ControlPlaneSubnet have to be set in the network-environment.yaml
[ctlplane-subnet]
cidr = {{ provnet_cidr }}
dhcp_start = {{ prov_dhcp_start }}
dhcp_end = {{ prov_dhcp_end }}
inspection_iprange = {{ prov_introspect_start }},{{ prov_introspect_end }}
gateway = {{ provnet_gw }}
#masquerade = False
masquerade_network = True
masquerade = True

[leaf1]
cidr = {{ leaf1net_cidr }}
dhcp_start = {{ leaf1_dhcp_start }}
dhcp_end = {{ leaf1_dhcp_end }}
inspection_iprange = {{ leaf1_introspect_start }},{{ leaf1_introspect_end }}
gateway = {{ leaf1net_gw }}
#masquerade = False
masquerade_network = True
masquerade = True

[leaf2]
cidr = {{ leaf2net_cidr }}
dhcp_start = {{ leaf2_dhcp_start }}
dhcp_end = {{ leaf2_dhcp_end }}
inspection_iprange = {{ leaf2_introspect_start }},{{ leaf2_introspect_end }}
gateway = {{ leaf2net_gw }}
#masquerade = False
masquerade_network = True
masquerade = True

[auth]
