[DEFAULT]
undercloud_hostname = {{ inventory_hostname | lower }}.{{ dnsdomain }}
overcloud_dnsdomain_name = {{ dnsdomain }}
overcloud_domain_name = {{ dnsdomain }}
image_path = /home/{{ stack_user }}/images
local_ip = {{ director.prov_cidr }}
masquerade_network = {{ director.prov_cidr }}
undercloud_public_host = {{ (( director.prov_cidr.split('/')[0] | ipaddr('int')) + 1) | ipaddr }}
undercloud_admin_host = {{ (( director.prov_cidr.split('/')[0] | ipaddr('int')) + 2) | ipaddr }}
undercloud_nameservers = {{ [provnet_dns1,provnet_dns2] | list | join (',') }}
undercloud_ntp_servers = {{ provnet_ntp1 }},{{ provnet_ntp2 }}
generate_service_certificate = true
local_interface = {{ director.prov_nic }}
local_mtu = 1500
dhcp_start = {{ prov_dhcp_start }}
dhcp_end = {{ prov_dhcp_end }}
network_cidr = {{ provnet_cidr }}
network_gateway = {{ provnet_gw }}
inspection_iprange = {{ prov_introspect_start }},{{ prov_introspect_end }}
undercloud_debug = true
enable_telemetry = true
enable_tempest = true
enable_mistral = true
enable_zaqar = true
enable_ui = true
enable_validations = true
ipxe_enabled = true
store_events = true
#scheduler_max_attempts = true
#hieradata_overwrite = 
#net_config_override = /usr/share/instack-undercloud/templates/net-config.json.template
#clean_nodes = false
#inspection_enable_uefi = true
[auth]
