{
  "nodes": [
    {% for node in groups['controllers'] %}
    {
      "pm_user": "{{ hostvars[node].ipmi_user }}",
      "pm_addr": "{{ hostvars[node].ipmi_ip }}",
      "pm_password": "{{ hostvars[node].ipmi_pass }}",
      "pm_type": "ipmi",
      "pm_port": "{{ hostvars[node].ipmi_port }}",
      {% if hostvars[node].ipmi_priv_level is defined %}
      "pm_priv_level": "{{ hostvars[node].ipmi_priv_level}}",
      "ipmi_priv_level": "{{ hostvars[node].ipmi_priv_level}}",
      {% endif %}
      "mac": [
        "{{ hostvars[node].mac }}"
      ],
      "name": "{{ node }}",
      "cpu": "{{ hostvars[node].cpu }}",
      "memory": "{{ hostvars[node].ram }}",
      "disk": "50",
      "arch": "x86_64",
      "capabilities": "node:control-{{ loop.index0 }},profile:control,boot_option:local"
    },
    {% endfor %}
    {% for node in groups['computes'] %}
    {
      "pm_user": "{{ hostvars[node].ipmi_user }}",
      "pm_addr": "{{ hostvars[node].ipmi_ip }}",
      "pm_password": "{{ hostvars[node].ipmi_pass }}",
      "pm_type": "ipmi",
      "pm_port": "{{ hostvars[node].ipmi_port }}",
      {% if hostvars[node].ipmi_priv_level is defined %}
      "pm_priv_level": "{{ hostvars[node].ipmi_priv_level}}",
      "ipmi_priv_level": "{{ hostvars[node].ipmi_priv_level}}",
      {% endif %}
      "mac": [
        "{{ hostvars[node].mac }}"
      ],
      "name": "{{ node }}",
      "cpu": "{{ hostvars[node].cpu }}",
      "memory": "{{ hostvars[node].ram }}",
      "disk": "50",
      "arch": "x86_64",
      "capabilities": "node:compute-{{ loop.index0 }},profile:compute,boot_option:local"
    }{% if not loop.last %},{% endif %}
    {% endfor %}{% if (groups['ceph'] | length) >=1 %},{% endif %}
    {% for node in groups['ceph'] %}
    {
      "pm_user": "{{ hostvars[node].ipmi_user }}",
      "pm_addr": "{{ hostvars[node].ipmi_ip }}",
      "pm_password": "{{ hostvars[node].ipmi_pass }}",
      "pm_type": "ipmi",
      "pm_port": "{{ hostvars[node].ipmi_port }}",
      {% if hostvars[node].ipmi_priv_level is defined %}
      "pm_priv_level": "{{ hostvars[node].ipmi_priv_level}}",
      "ipmi_priv_level": "{{ hostvars[node].ipmi_priv_level}}",
      {% endif %}
      "mac": [
        "{{ hostvars[node].mac }}"
      ],
      "name": "{{ node }}",
      "cpu": "{{ hostvars[node].cpu }}",
      "memory": "{{ hostvars[node].ram }}",
      "disk": "50",
      "arch": "x86_64",
      "capabilities": "node:ceph-{{ loop.index0 }},profile:ceph-storage,boot_option:local"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
