opstools ansible_host={{ opstools.ip }} ansible_user=ops ansible_become=true

# Logging
[logging_hosts]
opstools

# Availability monitoring - currently not functioning
[am_hosts]
#opstools

# Performance monitoring
[pm_hosts]
opstools
