<pool type='dir'>
  <name>default</name>
  <source>
  </source>
  <target>
    <path>/home/{{ kvm_user }}/images</path>
    <permissions>
      <mode>0711</mode>
      <label>system_u:object_r:virt_image_t:s0</label>
    </permissions>
  </target>
</pool>

