#!/bin/bash

#exec 2>&1
#exec > >(tee -a "{{ hostvars[layer2_item].inventory_hostname }}-{{ hostvars[layer2_item].image }}-bootstrap.out")

[ -e "/root/{{ inventory_hostname }}_bootstrapped" ] && exit 0

if false; then
  echo "show us some sysconfig details"
  ifconfig
  ip -o a
  ip r
  cat /etc/resolv.conf
  cat /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }}

  echo "kill a dhclient that can interfere and remove ifcfg-{{ hostvars[layer2_item].nic1 }}"
  ifdown {{ hostvars[layer2_item].nic1 }};rm /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }};killall dhclient;ifconfig {{ hostvars[layer2_item].nic1 }} down

  echo "config {{ hostvars[layer2_item].nic1 }}"
  ip addr add "{{ hostvars[layer2_item].initip }}/{{ netmask }}" dev {{ hostvars[layer2_item].nic1 }}

  echo "setting {{ hostvars[layer2_item].nic1 }} up"
  ip link set {{ hostvars[layer2_item].nic1 }} up

  echo "add route"
  ip route add default via {{ gateway }}

  echo "add dns"
  echo -e "nameserver {{ dns1 }}\nnameserver {{ dns2 }}" > /etc/resolv.conf

  echo "show us some sysconfig details"
  ifconfig
  ip -o a
  ip r
  cat /etc/resolv.conf
  cat /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }}
  ping -c 2 -W 1 192.168.101.1
fi


echo "check for python is installed in rhel7 container"
{% if hostvars[layer2_item].ostype == 'rhel7' %}
  OSTYPE="rhel7"
  rpm -q python
  python_install_check="$?"
{% endif %}


echo "check for python2 is installed in fedora container"
{% if hostvars[layer2_item].ostype == 'fedora' %}
  OSTYPE="fedora"
  rpm -q python2
  python2_install_check="$?"
{% endif %}

echo "pre-install python in container"
if [ "$OSTYPE" = "rhel7" -a "${python_install_check}" = "1" ] || [ "$OSTYPE" = "fedora" -a "${python2_install_check}" = "1" ]; then
  {{ hostvars[layer2_item].package_manager }} -y install python
fi



###################################################################################################################
# repo und subs part
# we only need basic repos here, so we just use the "ostype" repos and skip all product related repos

# 0. make sure there are no other repos available, if we have a repo_overwrite
echo "disable all repos, if repo overwrite (with a very weired manual method)"
{% if (hostvars[layer2_item].product is not defined or hostvars[layer2_item].product != 'mirror') and repo_overwrite is defined and repo_overwrite[hostvars[layer2_item].ostype] is defined %}
  #mkdir -p /etc/yum.repos.d/.old || { cp -a /etc/yum.repos.d/* /etc/yum.repos.d/.old;for n in /etc/yum.repos.d/*; do > $n;done }
  mkdir -p /etc/yum.repos.d/.old;for n in /etc/yum.repos.d/*; do [ -s "$n" ] && cp -a "$n" /etc/yum.repos.d/.old;> "$n";done
{% endif %}

# 1. we have a repo_overwrite that we want to use
echo "install base repo overwrites"
{% if (hostvars[layer2_item].product is not defined or hostvars[layer2_item].product != 'mirror') and repo_overwrite is defined and repo_overwrite[hostvars[layer2_item].ostype] is defined %}
  for URL in {{ repo_overwrite[hostvars[layer2_item].ostype] | list | join (' ') }}; do
    curl "$URL" -o /etc/yum.repos.d/`basename $URL` || FAILED="true"
    sed -i -e "s/{% raw %}{{ hostvars\[customer+'-mirror'\].ansible_host }}{% endraw %}/{{ hostvars[customer+'-mirror'].ansible_host }}/" /etc/yum.repos.d/`basename $URL`
  done
{% endif %}

# 2. we have a sub
echo "subscribe"
{% if hostvars[layer2_item].ostype == 'rhel7' and ((hostvars[layer2_item].product is defined and hostvars[layer2_item].product == 'mirror') or repo_overwrite is not defined or repo_overwrite[hostvars[layer2_item].ostype] is not defined) %}
  subscription-manager register --username="{{ subscription_user }}" --password="{{ subscription_pw }}" --name="{{ hostvars[layer2_item].inventory_hostname|lower }}.{{ dnsdomain|lower }}" --auto-attach --force || FAILED="true"
  {% if subscription_pool|default(false) %}subscription-manager attach --pool="{{ subscription_pool }}"{% endif %}
  subscription-manager repos --disable \* >/dev/null
  subscription-manager repos --enable rhel-7-server-rpms --enable rhel-7-server-extras-rpms --enable rhel-7-server-optional-rpms || FAILED="true"
{% endif %}

# 3. we have some repos (not for subscribed systems)
echo "install repo_files"
{% if hostvars[layer2_item].ostype != 'rhel7' and ((hostvars[layer2_item].product is defined and hostvars[layer2_item].product == 'mirror') or repo_overwrite is not defined or repo_overwrite[hostvars[layer2_item].ostype] is not defined) and (repo_files is defined and repo_files[hostvars[layer2_item].ostype] is defined) %}
  for repofile in {{ repo_files[hostvars[layer2_item].ostype] }}; do
    #{{ hostvars[layer2_item].package_manager }} install -y $repofile || {{ hostvars[layer2_item].package_manager }} reinstall -y $repofile
    curl $repofile -o /etc/yum.repos.d/`basename $repofile` || FAILED="true"
  done
{% endif %}

# 4. (re-)install repo_packages if we don't have a repo_overwrite
echo "install repo_packages"
{% if ((hostvars[layer2_item].product is defined and hostvars[layer2_item].product == 'mirror') or repo_overwrite is not defined or repo_overwrite[hostvars[layer2_item].ostype] is not defined) and (repo_packages is defined and repo_packages[hostvars[layer2_item].ostype] is defined) %}
  for PACK in {{ repo_packages[hostvars[layer2_item].ostype] | list | join (' ') }}; do
    {{ hostvars[layer2_item].package_manager }} install -y "$PACK" || {{ hostvars[layer2_item].package_manager }} reinstall -y "$PACK" || FAILED="true"
  done
{% endif %}


echo "as we don't explicitely enable something here, we disable some repos that might come into our way"
{% if hostvars[layer2_item].ostype=='rhel7' %}
  for repo in rhel-7-server-htb-rpms; do
    yum-config-manager --disable $repo
  done
{% endif %}

###################################################################################################################


#...
echo "install python in container"
if [ "$OSTYPE" = "rhel7" -a "${python_install_check}" = "1" ] || [ "$OSTYPE" = "fedora" -a "${python2_install_check}" = "1" ]; then
  {{ hostvars[layer2_item].package_manager }} -y install python
fi

echo "install NetworkManager"
  {{ hostvars[layer2_item].package_manager }} -y install dbus-python NetworkManager libsemanage-python policycoreutils-python

echo "install NetworkManager addons for fedora"
if [ "$OSTYPE" = "fedora" ]; then
  {{ hostvars[layer2_item].package_manager }} -y install NetworkManager-glib python-gobject nm-connection-editor
fi

#echo "stop sysv network"
#systemctl disable network || rm /etc/systemd/system/multi-user.target.wants/initial-setup.service
#systemctl stop network
#rm /etc/sysconfig/network-scripts/ifcfg-eth*
echo "definitely remove cloud-init"
#cat /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }}
{{ hostvars[layer2_item].package_manager }} remove -y cloud-init


echo "disable NetworkManager"
#systemctl enable NetworkManager || { ln -s /usr/lib/systemd/system/NetworkManager-wait-online.service /etc/systemd/system/network-online.target.wants/NetworkManager-wait-online.service && ln -s /usr/lib/systemd/system/NetworkManager.service /etc/systemd/system/multi-user.target.wants/NetworkManager.service; }
{ systemctl disable NetworkManager && systemctl disable NetworkManager-wait-online; } || { rm /etc/systemd/system/network-online.target.wants/NetworkManager-wait-online.service; rm /etc/systemd/system/multi-user.target.wants/NetworkManager.service; }

# echo "start NetworkManager"
#systemctl start NetworkManager

echo "give 5s grace time"
sleep 5s

echo "create UDEV rules for custom nic names"
cat <<EOF >/etc/udev/rules.d/70-persistent-net.rules
{% for dev in devices|sort %}{%if devices[dev].type == "nic" %}
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="{{ dev }}", NAME="{{ devices[dev].name }}"
{% endif %}{% endfor %}
EOF

echo "re-create {{ hostvars[layer2_item].nic1 }}"
[ -e /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }} ] && cp -a /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }} /root
nmcli con add con-name {{ hostvars[layer2_item].nic1 }} ifname {{ hostvars[layer2_item].nic1 }} type ethernet ip4 {{ hostvars[layer2_item].initip }}/{{ netmask }} gw4 {{ gateway }} ipv4.dns '{{ dns1 }} {{ dns2 }}' || cat <<EOF > /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }}
TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR={{ hostvars[layer2_item].initip }}
PREFIX={{ netmask }}
GATEWAY={{ gateway }}
DNS1={{ dns1 }}
DNS2={{ dns2 }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
NAME={{ hostvars[layer2_item].nic1 }}
UUID=`uuidgen`
DEVICE={{ hostvars[layer2_item].nic1 }}
ONBOOT=yes
NM_CONTROLLED=no
EOF

echo "ensure {{ hostvars[layer2_item].nic1 }} is up at boot"
sed -i -e "s/^ONBOOT=.*/ONBOOT=yes/" /etc/sysconfig/network-scripts/ifcfg-{{ hostvars[layer2_item].nic1 }}

echo "remove all other nic configs"
cd /etc/sysconfig/network-scripts
for n in ifcfg-*; do
  [ "$n" = "ifcfg-lo" ] && continue
  [ "$n" = "ifcfg-{{ hostvars[layer2_item].nic1 }}" ] && continue
  echo "removing unneeded device definition \"$n\" (moving to /root)"
  mv "$n" /root
done
cd

echo "install sshd and some very basic tools needed later"
IPTPKG="iptables"
[ "$OSTYPE" = "fedora" ] && IPTPKG="iptables-utils"
{{ hostvars[layer2_item].package_manager }} -y install openssh-server iptables-services $IPTPKG file less net-tools yum-utils

echo "make ssh a little faster"
grep "UseDNS " /etc/ssh/sshd_config && sed -i -e 's/#UseDNS yes/UseDNS no/' -e 's/UseDNS yes/UseDNS no/' /etc/ssh/sshd_config || echo "UseDNS no" >> /etc/ssh/sshd_config

echo "enable and start sshd"
systemctl enable sshd || ln -s /usr/lib/systemd/system/sshd.service /etc/systemd/system/multi-user.target.wants/sshd.service
systemctl start sshd || echo "we probably don't have a systemd in here..."
#...


echo "set root password"
echo "{{ vm_pw }}"|passwd root --stdin

echo "set /root/.ssh/authorized_keys"
cat /root/.ssh/id_rsa.pub >> /root/.ssh/authorized_keys
chown -Rf root.root /root
chmod 700 /root
chmod 700 /root/.ssh

echo "touch a lock file"
[ "$FAILED" = "true" ] || touch "/root/{{ hostvars[layer2_item].inventory_hostname }}_bootstrapped"

exit 0
